.title_row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 16px;
}

.link {
  font-size: 14px;
  background: linear-gradient(90deg, #3184ab 0%, #5c82ff 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
}

.link:hover {
  opacity: 70%;
  cursor: pointer;
  transition: all 333ms ease 0s;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
  column-gap: 5px;
}
