* {
  --light-black: rgba(0, 0, 0, 0.1);
  --light-white: rgba(255, 255, 255, 0.1);
}

:root {
  --fg: rgba(0, 0, 0, 0.95);
  --bg: rgba(255, 255, 255);
  --sec-bg: var(--light-black);
  --nav-bg: rgba(255, 255, 255, 0.3);
  --img-shadow: 6px 6px 12px -6px rgb(0, 0, 0, 0.1),
    24px 24px 30px -6px rgb(0, 0, 0, 0.2);
  --img-shadow-2: 2px 2px 8px -1px rgb(0, 0, 0, 0.05),
    12px 12px 16px -4px rgb(0, 0, 0, 0.05);
  --hover-bg: linear-gradient(
    90deg,
    rgba(255, 233, 244, 0.4) 0%,
    rgba(234, 243, 255, 0.7) 100%
  );
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --fg: rgba(255, 255, 255);
    --bg: rgba(0, 0, 0, 0.95);
    --sec-bg: var(--light-white);
    --nav-bg: rgba(28, 22, 47, 0.3);
    --img-shadow: 6px 6px 12px -6px rgb(0 0 0 / 50%),
      24px 24px 30px -6px rgb(0 0 0 / 50%);
    --img-shadow-2: 2px 2px 4px -2px rgb(0 0 0 / 50%),
      24px 24px 30px -6px rgb(0 0 0 / 50%);
    --hover-bg: linear-gradient(
      90deg,
      rgba(30, 28, 50, 0.8) 0%,
      rgba(43, 22, 29, 0.7) 100%
    );
  }
} */

body {
  color: var(--fg);
  background: var(--bg);
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -100;
  background-image: url("/global/header-gradient.svg"),
    url("/global/footer-gradient.svg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 1440px;
}

a {
  text-decoration: none;
}
